
// Variables
$main-color: #FF6060;
$greyStar : #E3E3E3;
$whiteColor : #FFF;


// Mixins
@mixin flexRowCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin gridItemCenter {
    display: grid;
    place-items: center;
}

@mixin paddingReset {
    padding: 0;
}

@mixin marginReset {
    margin: 0;
}

@mixin tag {
   @include flexRowCenter;
   flex-shrink: 0;
   width: 115px;
   height: 25px;
   background-color: $main-color;
   color: $whiteColor;
   border: none;
   border-radius: 10px;
   font-weight: 500;
   font-size: 14px;

   @media(max-width: 630px) {
      width: 84px;
      height: 18px;
      font-size: 10px;
   }
}

@mixin collapseHeader {
   max-width: 1023px;
   height: 52px;
   background-color: $main-color;
   color: $whiteColor;
   border-radius: 5px;
   padding: 10px 20px 10px 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: width 0.6s ease-in-out;

   @media(max-width: 630px) {
      height: 30px;
      padding: 10px 6px 10px 10px;
   }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 142.6%;
    height: 100%;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}


#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
   padding-inline: 100px;

   @media(max-width: 630px) {
      padding-inline: 10px;
   }
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px 0 100px;
    
    @media (max-width: 687px) {
        padding: 20px 20px 0 20px;
    }

    &__logo {
        @media (max-width: 662px) {
            width: 145px;
            height: 46.881px;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        color: $main-color;
        gap: 57px;
        font-size: 24px;

        a {
            text-decoration: none;
            color: $main-color;
        }

        .active {
            text-decoration: underline;
            text-underline-offset: 5px;
        }

        a:hover {
            font-weight: 600;
        }

        @media (max-width: 662px) {
            gap: 26px;
            font-size: 12px;
        }

        &__home__link:hover, &__about__link:hover {
            font-weight: 900;
        }
    }
}

.banner {
   min-height: 223px;
   width: 86.11%;
   @include gridItemCenter;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-color: rgb(150, 150, 150);
   background-blend-mode: multiply;
   border-radius: 25px;
   align-self: center;
   color: #FFFFFF;
   margin-block: 50px 43px;

   @media (max-width: 662px) {
      min-height: 111px;
      width: 335px;
      margin-block: 27px 22px;
      border-radius: 10px;
      display: flex;
      padding-left: 10px;
   }

   h1 {
      @media (max-width: 662px) {
      display: flex;
      flex-direction: column;
      font-size: 24px;
      font-weight: 500;
      }
   }
}


.gallery {
   background-color: #F6F6F6;
   max-width: 1240px;
   min-height: 50vh;
   border-radius: 25px;
   margin-inline: auto;
   margin-bottom: 50px ;
   padding: 56px 50px 43px 50px;
   @include flexRowCenter;
   flex-wrap: wrap;
   gap: 50px;
   flex-grow: 1;

   @media (max-width: 856px) {
       background-color: #FFFFFF;
       padding: 0 10px 27px 10px;
       gap: 20px;
   }
}

// Card
.card {
   width: 340px;
   height: 340px;
   border-radius: 10px;
   display: flex;
   align-items: end;
   position: relative;
   
   
   @media (max-width: 662px) {
       width: 335px;
       height: 255px;
   }
   
   &__link {
       width: 100%;
       height: 100%;
       
       &__img {
           width: 100%;
           height: 100%;
           object-fit: cover;
           position: absolute;
           border-radius: 10px;
       }

       &__title {
           color: #FFF;
           margin: 20px;
           width: 50%;
           font-size: 18px;
           font-weight: 500;
           position: absolute;
           bottom: 0;

       }
   }

}


.footer {
    width: 100%;
    height: 209px;
    background-color: #000;
    color: #FFF;
    @include flexColCenter;
    gap: 29px;
    font-size: 24px;
    margin-top: auto;
    position: sticky;

    @media(max-width: 662px) {
        gap: 20px;
    }

    @media(max-width: 630px) {
    }

    &__text {
        @media(max-width: 662px) {
            font-size: 12px;
            text-align: center;
            width: 120px;
            height: 46px;
        }
    }

}

// Page Logement
.housing {
   width: 100%;
   display: flex;
   flex-direction: column;
   margin-top: 50px;
   flex-grow: 1;

   @media(max-width: 630px) {
      margin-block: 27px 25px;
   }
}

.carousel {
   width: 100%;
   height: 445px;

   @media(max-width: 630px) {
      height: 255px;
   }

   &__banner {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      color: $whiteColor;
      @include flexRowCenter;

      &__image {
         position: absolute;
         width: 100%;
         height: 100%;
         object-fit: cover;
         border-radius: 25px;
      }

      &__chevron {
         position: absolute;

         @media(max-width: 630px) {
            font-size: 18px;
         }

         &--left {
            left: 20px;
         }

         &--right {
            right: 20px;
         }
      }

      & > span {
         position: absolute;
         bottom: 20px;
         font-size: 18px;

      }
   }
}

.housing__header {
   display: flex;
   justify-content: space-between;
   color: $main-color;
   margin-block: 30px 31px;

   @media(max-width: 630px) {
      margin-bottom: 20px;
      width: 100%;
      flex-direction: column;
   }

   &__property {
      width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 20px;

      @media(max-width: 630px) {
         width: 100%;
         gap: 10px;
      }

      &__info > h1 {
         height: 51px;
         font-size: 36px;
         display: flex;
         align-items: center;

         @media(max-width: 630px) {
            height: 48px;
            font-size: 18px;
         }
      }
      
      &__info > p {
         font-size: 18px;
         height: 26px;

         @media(max-width: 630px) {
            height: 22px;
            font-size: 14px;
         }
      }
      
      &__tags {
         display: flex;
         gap: 10px;

         @media(max-width: 630px) {
            margin-top: 10px;
         }
         
         & > button {
            @include tag;
         }
      }
   }
   
   &__owner {
      width: 50%;
      display: flex;
      gap: 27px;
      flex-direction: column;
      align-items: flex-end;

      @media(max-width: 630px) {
         width: 100%;
         flex-direction: row-reverse;
         align-items: center;
         margin-top: 20px;
      }

      .fa-star {
         font-size: 25px;
         @media(max-width: 630px) {
            font-size: 15px;
         }
         
         &--filled {
            color: $main-color;
            padding-inline: 5px;
         }
         
         &--empty {
            color: $greyStar;
            padding-inline: 5px;
         }
      }
      

      &__info {
         display: flex;
         align-items: center;
         gap: 10px;

         @media(max-width: 630px) {
            margin-left: auto;
         }
         
         & > h2 {
            font-size: 18px;
            @media(max-width: 630px) {
               font-size: 12px;
            }
         }

         & > img {
            width: 64px;
            height: 64px;
            border-radius: 50%;

            @media(max-width: 630px) {
               width: 32px;
               height: 32px;
            }
         }
      }
   }
}

.collapse {
   width: 100%;
   display: flex;
   justify-content: space-between;
   gap: 76px;
   margin-inline: auto;

   @media(max-width: 630px) {
      width: 335px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
   }

   & section {
     display: flex;
     flex-direction: column;

     & > p {
      @include collapseHeader;
     }

   }
   
   &__description {
      width: 50%;
   }
   
   &__equipments {
      width: 50%;
   }
}

.dropdown {
   border-radius: 10px 10px 0 0;
   width: 582px;
   overflow: hidden;
   position: relative;

   @media(max-width: 630px) {
      margin-bottom: -40px;
      width: 335px;
   }
   
   &__title {
      z-index: 1;

      @media(max-width: 630px) {
         // margin-top: 5px;
      }
   }
   
   &__content {
      background-color: #F6F6F6;
      color: $main-color;
      border-radius: 5px;
      padding: 25px 28px 20px 20px;
      transition: transform 0.3s ease-in-out;
      transition: height 0.3s ease-in-out;
      overflow: hidden;
      @media(max-width: 630px) {
         padding: 13px 20px 19px 20px;
         width: 335px;
      }
      
      &.visible {
         transform: translateY(0);
         height: 227px;

         @media(max-width: 630px) {
            height: 181px;
         }
      }
      
      &.hidden {
         transform: translateY(-100%);
         height: 0;
      }
   }
}

.chevron {
   transition: transform 0.3s ease-in-out ;
   
   &.rotate-down {
      transform: rotate(-180deg);
   }
}

// Page 404
.error {
   width: 100%;
   // height: 100%;
   flex-grow: 1;
   overflow: hidden;
   @include flexColCenter;
   margin-block: 124px 139px;
   gap: 139px;
   color: $main-color;

   @media (max-width: 687px) {
      gap: 113px;
      margin-block: 9px;
   }

   &__title {
      width: 597px;
      height: 263px;
      font-size: 288px;
      @include flexRowCenter;

      @media (max-width: 1109px) {
         width: 198px;
         height: 99px;
         font-size: 96px;
      }
   }

   &__message {
      font-size: 38px;

      @media (max-width: 1109px) {
         display: flex;
         flex-direction: column;
         align-items: center;
         font-size: 18px;
      }
   }

   &__link {
      font-size: 18px;
      text-decoration: underline;
      color: $main-color;
      font-family: Montserrat;

      @media (max-width: 687px) {
         font-size: 14px;
      }
   }
}
